<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="life.vishalsingh">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ModuleH.NewWordActivity"></activity>
        <activity android:name=".ModuleH.DatabaseMain" />
        <activity
            android:name=".ModuleG.SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".ModuleG.MyJobScheduler" />

        <receiver
            android:name=".ModuleF.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".ModuleG.NotificationJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name=".ModuleF.MyAlarmManager" />
        <activity android:name=".ModuleF.MyNotifications" />
        <activity android:name=".ModuleF.BroadcastReceiverMain" />
        <activity
            android:name=".ModuleE.TopicE1"
            android:label="@string/title_activity_topic_e1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ModuleD.TopicD_1_CardView" />
        <activity android:name=".ModuleC.TopicC1_TabLayout" />
        <activity
            android:name=".ModuleB.TopicB_3"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".ModuleB.TopicB_2" />
        <activity android:name=".ModuleB.TopicB_1" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="developer.android.com"
                    android:scheme="http" />
            </intent-filter>
        </activity>

        <uses-library
            android:name="android.test.runner"
            android:required="false" />
    </application>

</manifest>